@model AxxisSystem.Model.Modelo.Direccion_Contacto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Direccion_Contacto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contacto.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacto.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamento.NombreDepartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento.NombreDepartamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDireccion_Contacto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
